always-auth=true
@ikiru:registry=https://voy-devtfs2.pkgs.visualstudio.com/_packaging/IkiruPeopleArtifactsFeed%40Local/npm/registry/
legacy-peer-deps=true
# re-initialize Token
# vsts-npm-auth -config .npmrc -fnnp